@model GameCollectorsHub.Web.ViewModels.Amiibo.AmiiboSeriesViewModel
@{
    ViewData["Title"] = "Series";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container bg-light">
        <div class="text-center">
            <h1>Select platform</h1>
        </div>

        <div class="py-5">
            <div class="row">
                @foreach (var series in Model.AmiiboSeries)
                {
                    <div class="col-lg-4 col-md-4 col-sm-12 mt-4">
                        <div class="card box-shadow" style="width: 100%;">
                            <img src="@series.ImgUrl" class="card-img-top" alt="@series.Name" style="height: 350px">
                            <div class="card-body">
                                <h5 class="card-title">@series.Name</h5>
                                <p class="card-text">Amiibos Count: @series.AmiibosCount</p>
                                <a href"#" class="btn btn-primary">Browse Amiibos</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

