@model GameCollectorsHub.Web.ViewModels.Console.AddConsoleInputModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container bg-dark">
        <h1>Update</h1>

        <h4>Console</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImgUrl" class="control-label"></label>
                        <input asp-for="ImgUrl" class="form-control" />
                        <span asp-validation-for="ImgUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReleaseDate" class="control-label"></label>
                        <input asp-for="ReleaseDate" class="form-control" />
                        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="InitialPrice" class="control-label"></label>
                        <input asp-for="InitialPrice" class="form-control" />
                        <span asp-validation-for="InitialPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model" class="control-label"></label>
                        <input asp-for="Model" class="form-control" />
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GamesReleased" class="control-label"></label>
                        <input asp-for="GamesReleased" class="form-control" />
                        <span asp-validation-for="GamesReleased" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PlatformId" class="control-label"></label>
                        <select asp-for="PlatformId" class="form-control" asp-items="@Html.GetEnumSelectList<GameCollectorsHub.Web.ViewModels.Platform.PlatformEnum>()"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

